.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
.App-header {
  transition: background-color 250ms;
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;

  &.started {
    background-color: adjust-color($color: #282c34, $red: 30%);
  }
  &.new-card {
    background-color: adjust-color($color: #282c34, $blue: 30%);
  }
  &.card-opened {
    background-color: adjust-color($color: #282c34, $green: 30%);
  }
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

body {
  font-family: sans-serif;
}

.scene {
  width: 200px;
  height: 260px;
  margin: 40px 0;
  perspective: 600px;
}

.card {
  position: relative;
  width: 100%;
  height: 100%;
  cursor: pointer;
  transform-style: preserve-3d;
  transform-origin: center right;
  transition: transform 1s;
}

.card.is-flipped {
  transform: translateX(-100%) rotateY(-180deg);
}

.card__face {
  position: absolute;
  width: 100%;
  height: 100%;
  line-height: 260px;
  color: white;
  text-align: center;
  font-weight: bold;
  font-size: 40px;
  backface-visibility: hidden;

  &.kans {
    background: red;
  }
  &.algemeen-fonds {
    font-size: 16px;
    background: blue;
  }
}

.card__face--front {
  background: green;
}

.card__face--back {
  font-size: 10px;
  transform: rotateY(180deg);

  &.kans {
    background: red;
  }
  &.algemeen-fonds {
    font-size: 16px;
    background: blue;
  }
}
